.display-flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.align-stretch {
	align-items: stretch;
}

.direction-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-fluid {
	flex: 1;
}
